.toolBox {
  position: absolute;
  z-index: 1;
  display: inline-block;
  color: rgb(78, 78, 78);
  padding: 10px;
}

.toolBox b {
  color: #5f5c5d !important;
  /* display: block; */
  /* margin-bottom: 15px; */
}

.toolBox .tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.toolBox .tools button {
  margin-right: 10px;
}
.cancelButton{
  background-color: #5f5c5d !important;
}
.toolBox button:not(.cancelButton){
  background-color: rgb(0, 150, 136) !important;
}
.toolBox button:focus{
  outline: none;
}
